<footer>
    <div class="cover_row9">
        <div class="row9">

            <div class="info_end1">
                <div class="title_end1">
                    <p>THÔNG TIN CẦN BIẾT</p>
                </div>
                <div class="line2"> <hr></div>
                <div class="content_end1">
                    <p>Đề án tuyển sinh năm 2018</p>
                    <p>Phương thức tuyển sinh</p>
                    <p>Nộp hồ sơ</p>
                    <p>Tra cứu kết quả</p>
                    <p>Danh mục nghành</p>
                    <p>Kết nối website</p>
                </div>
            </div>
            <div class="info_end2">
                <div class="title_end2">
                    <p>CHƯƠNG TRÌNH LIÊN KẾT</p>

                </div>
                <div class="line3"> <hr></div>
                <div class="content_end2">
                    <p>Chương trình tiên tiến</p>
                    <p>Chương trình Rennes</p>
                    <p>Chương trình Taillaght</p>
                </div>
            </div>

            <div class="info_end3">
                <div class="title_end3">
                    <p>ĐẠI HỌC KINH TẾ HUẾ</p>

                </div>
                <div class="line4"><hr></div>
                <div class="content_end3">
                    <p>99 Hồ Đắc Di- TP Huế</p>
                    <p>Kết nối với HCE:</p>
                    <img src="../images/Facebook.png">
                    <img src="../images/Youtube.png">
                    <img src="../images/Google-plus.png">
                    <p>HOTLINE: 0912636024</p>
                    <p> Email: tuyensinh@hce.edu.vn</p>
                </div>
            </div>
        </div>
    </div>
</footer>