<div class="row3">
    <div class="banner contaner">
        <h3><i>&ldquo;Đại học kinh tế Huế, nơi chắp cánh ước mơ &bdquo;</i></h3>
    </div>
</div>
<div class="row4">
    <div class="slide slideshow-container">
        <div class="mySlides fade">
            <img class="slide-jpg" src="Content/images/slide1.jpg" alt="slide" />
        </div>
        <div class="mySlides fade">
            <img class="slide-jpg" src="Content/images/slide2.jpg" alt="slide" />
        </div>
        <div class="mySlides fade">
            <img class="slide-jpg" src="Content/images/slide3.jpg" alt="slide" />
        </div>
        <div class="mySlides fade">
            <img class="slide-jpg" src="Content/images/slide4.jpg" alt="slide" />
        </div>
    </div>
    <div class="point_slide">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
</div>