@model IEnumerable<WebsiteAdmission.Models.Post>
@using WebsiteAdmission.Common
@if (Model != null && Model.Count() > 0)
{
    int i = 0;
    <div class="row4">
        <div class="lienketdaihoc">
            <div class="title_lkdh">
                <p><b>@Model.FirstOrDefault().SubCategory.Name</b></p>
            </div>
            @foreach (var item in Model)
            {
                if (i++ == 3)
                {
                    break;
                }
                <div class="container1">
                    <img src="@Constants.ImagesPosts.GetDescription() + @(item.SubCategory.SubCategoryID + "/" + item.CoverImage)" alt="Cinque Terre" class="image">
                    <div class="topleft">@item.Title</div>

                    <div class="link_container1">
                        <a href="../pages/thongbaotuyensinh.html">CHI TIẾT </a>
                    </div>
                </div>
            }
        </div>
        }
        <div class="row4">


            <div class="new_lkdh">
                <img src="../images/chuongtrinhchuan.jpg">
                <p>
                    Chương trình chuẩn
                </p>
                <a href="#">CHI TIẾT </a>
            </div>
            <div class="new_lkdh">
                <img src="../images/chuongtrinhchatluongcao.jpg">
                <p>
                    Chương trình tiên tiến
                </p>
                <a href="#">CHI TIẾT </a>
            </div>
            <div class="new_lkdh">
                <img src="../images/RINH1527.jpg">
                <p>
                    Chương trình liên kết
                </p>
                <a href="#">CHI TIẾT </a>
            </div>
        </div>
    </div>
}